.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px;
}
.btn-proceed{
    background-color: #FF9900;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
    height: 56px;
    font-size: 21px;
    align-items: center;
    text-decoration: none;

}
.proceed-link{
    text-decoration: none;
}
.pagination-title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination .selected{
    background-color: #FF9900;
    

}